.btn {
  border: none;
  padding: 0.775rem 1.3rem;
  background-color: var(--gray);
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.3s ease;
  box-shadow: var(--shadow-btn);
}

.btn:nth-child(2) {
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}

.btn:hover {
  background: var(--white);
}
