.coinData {
  background: var(--bg-summary);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--gray);
}

.info {
  font-size: 1rem;
}

.info span:last-child {
  font-weight: bold;
}
