* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --bg: #1c1a3f;
  --bg-summary: #231f4a;
  --bg-coin-list: #1d1b42;
  --gray: #8795b7;
  --red: #c44873;
  --green: #46bca9;
}

a {
  text-decoration: none;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg);
}

.App {
  max-width: 80vw;
  max-height: 100vh;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .App {
    max-width: 90vw;
  }
}

@media (max-width: 375px) {
  .App {
    max-width: 100vw;
  }
}

ul {
  list-style: none;
}

.coinlist-item {
  display: flex;
}

.coin-data-category {
  font-size: 10px;
}

.coin:hover .delete-icon {
  display: block;
}

.dropdown-item {
  cursor: pointer;
  transition: 0.3 ease;
}

.dropdown-item:hover {
  opacity: 0.5;
}
